/* Remove espaçamentos padrão */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #481658;
    padding: 20px 30px;

    max-width: 800px;
    width: 90%;
    margin: 20px auto;

    border-radius: 50px;
    box-shadow: 0 15px 25px -10px rgba(120, 45, 145, 0.7);
}

.navlinks {
    display: flex;
    gap: 30px;

    list-style: none;
}

.navlinks a{
    color: #c9b5d4;
    text-decoration: none;

    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-size: 18px;
    transition: 0.3s;
}

.navlinks a:hover{
    color: black;
}